.main-items {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 20px;
}
.main-items__items {
  width: 100%;
  display: flex;
  justify-content: space-between;
  gap: 40px;
}
.main-items__item {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.main-items__item img {
  width: 330px;
  height: 330px;
  margin-bottom: 15px;
}
.main-items__item h3 {
  font-size: 20px;
  margin-bottom: 10px;
  font-weight: 600;
}

@media screen and (max-width: 1200px) {
  .main-items__items {
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
  }
  .main-items__item img {
    width: 50vw;
    height: 50vw;
  }
  .main-items__item h3 {
    font-size: 24px;
  }
}
