.main-items {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 20px;
}
.main-items__items {
  width: 100%;
  display: flex;
  justify-content: space-between;
  gap: 40px;
  flex-wrap: wrap;
}
.main-items__item {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.main-items__image-container {
  width: 330px;
  height: 330px;
  margin-bottom: 15px;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}
.main-items__item img {
  width: 100%;
  height: 100%;
  perspective: 1000px;
  perspective-origin: center;
  transition: all 0.5s ease-in-out;
}
.main-items__item img:hover {
  transform: scale(1.2, 1.2);
}
.main-items__text {
  width: 330px;
  padding: 0 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.main-items__text h3 {
  font-size: 20px;
  margin-bottom: 12px;
  font-weight: 600;
}
.main-items__text p {
  font-size: 16px;
}
.main-items__description {
  margin-bottom: 10px;
  color: var(--font-color-description);
}
.main-items__price {
  font-weight: 500;
}

@media screen and (max-width: 1200px) {
  .main-items__items {
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
  }
  .main-items__image-container {
    width: 50vw;
    height: 50vw;
  }
  .main-items__text {
    width: 50vw;
  }
  .main-items__text h3 {
    font-size: 24px;
  }
  .main-items__text p {
    font-size: 18px;
  }
}
